.cart{
    text-align: left;
    display:block;
    padding: 2rem;
    background-color: white;
    min-height: 20%;
    flex: 8 1 auto; /* div B should fit the remaining space */
  overflow-y: auto; /* enable scroll bar when div D exceeds div B's height */
}