.productContainer{
    padding: 1.75rem;
    background-color: #f4f4f4;
    border-bottom: 2px lightslategray solid;
    box-shadow: 1px 1px 10px lightslategrey ;
    margin: 2rem;
}
button{
    border: none;
    background-color: rgb(145, 145, 145);
    padding: 0.45rem 1.7rem;
    cursor: pointer;
    box-shadow: 1px 1px 2px lightslategrey ;
    margin: 0.4rem;     
    color: #f4f4f4;
    transition: 0.2s all ease-in-out;
}
button:hover{
    background-color: #333;
    color: white;
}
.readmore{
    color: #333!important;
}